*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
    background: #FCD06C;
   
}
.book{
    transform-style: preserve-3d;
    position: relative;
    height:300px;
    cursor: pointer;
    backface-visibility: visible;
}
.front, .back, .page1, .page2, .page3, .page4, .page5, .page6{
    transform-style: preserve-3d;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-
    shadow .35s ease-in-out;

}
.front, .back
{
    background: #18181a;
}
.front, .page1, .page3, .page5{
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}
.back, .page2, .page4, .page6{
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}
.page1
{
    background: #efefef;
}
.page2
{
    background: #efefef;
}
.page3
{
    background: #f5f5f5;
}
.page4
{
    background: #f5f5f5;
}
.page5
{
    background: #fafafa;
}
.page6
{
    background: #fdfdfd;
}

.book:hover .front{
    transform: rotatey(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .page1{
    transform: rotatey(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .page2{
    transform: rotatey(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .page3{
    transform: rotatey(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .page4{
    transform: rotatey(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .page4{
    transform: rotatey(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .page5{
    transform: rotatey(-130deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .page6{
    transform: rotatey(-50deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.book:hover .back{
    transform: rotatey(-20deg) scale(1.1);
}
